h1, h2, h4{
    font-family: Arial;
}

.headerMovieDetail{
    display: flex;
    height: 6vh;
    width: 85vw;
    margin-left: 7vw;
    justify-content: space-between;
    align-items: center;
}

.backwardBatton{
    height: 4vh;
    width: 10vw;
    display: inline;
    background-color: white;
    cursor: pointer;
}

.backwardText{
    margin: 0;
    color: #f55263;
}

.movieDetail{
    background-color: #414141;
    height: auto;
}

.movieFigure{
    float: left;
    width: 30vw;
    height: 46vw;
    margin-top: 2vh;
    margin-left: 7vw;
    margin-bottom: 7vh;
}

.movieImage{
    height: 99%;
}

.movieInfo{
    width: 50vw;
    margin: 3vh 7vw 0 0;
    float: right;
}

.movieName{
    width: 70%;
    font-size: 3rem;
    color: #f55263;
    margin-bottom: 0;
    margin-top: 0;
}

.movieMark{
    border-style: solid;
    border-radius: 50%;
    width: 5.2vh;
    height: 4vh;
    padding-top: 1.2vh;
    text-align: center;
    color: #b5e584;
    border-width: 1px;
    font-weight: 100;
    position: absolute;
    top: 8vh;
    right: 10vw;
}

.movieYear{
    display: block;
    margin-top: 6vh;
    color: white;

}

.movieDurability{
    color: white;
}

.movieStory, .movieDirector, .movieCast{
    font-weight: 100;
    color: #c8c8c8;
}

.movieStory{
    color: #d7d7d7;
    margin-bottom: 7vh;
}

