h1, h2, h4{
    font-family: Arial;
}

.headerMovieDetail{
    display: flex;
    height: 6vh;
    width: 85vw;
    margin-left: 7vw;
    justify-content: space-between;
    align-items: center;
}

.backwardBatton{
    height: 4vh;
    width: 10vw;
    display: inline;
    background-color: white;
}

.backwardText{
    margin: 0;
    color: #f55263;
}

.movieDetail{
    background-color: #414141;
    height: 58vh;
}

.movieFigure{
    width: 30vw;
    height: 45vh;
    margin-top: 2vh;
}

.movieImage{
    height: 100%;
}

.movieInfo{
    width: 50vw;
    margin: 3vh 0 0 3vw;
}

.movieName{
    font-size: 3rem;
    color: #f55263;
    width: auto;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}

.movieMark{
    border-style: solid;
    border-radius: 50%;
    width: 5.2vh;
    height: 4vh;
    float: left;
    margin: 0 0 0 4vw;
    padding-top: 1.2vh;
    text-align: center;
    color: #b5e584;
    border-width: 1px;
    font-weight: 100;
}

.movieGenre{
    width: fit-content;
    font-weight: 100;
    color: #c8c8c8;
}

.movieYear, .movieDurability{
    display: inline;
    color: white;
}

.movieDurability{
    margin-left: 2vw;
}

.movieStory, .movieDirector, .movieCast{
    font-weight: 100;
    color: #c8c8c8;
}

.movieStory{
    color: #d7d7d7;
}

