*{
    user-select: none;
    overflow-x: hidden;
}


h5{
    font-family: Arial;
    cursor: default;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
    background-color: #f5f5f5;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.moviesFoundText, .sortText{
    margin: 1%;
}

.moviesFoundText{
    margin-left: 7vw;
    margin-right: auto;
}

.sortText{
    margin-right: 7vw;
}

.movie{
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 316px;
    height: auto;
    cursor: pointer;
}

figure{
    width: 100%;
    height: auto;
    margin: 0;
}

img{
    width: 100%;
}
.moviesName, .moviesLevel{
    display: block;
}

.moviesName{
    width: 70%;
    float: left;
    margin: 1% 0 0 2%;
    color: #3f3f3f;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.moviesLevel{
    margin: 0 4% 0 2%;
    color: #797979;
}

.moviesYear{
    font-size: 0.7rem;
    margin: 0;
    margin-right: 2%;
    color: #797979;
    border: 1px;
    border-radius: 0.2vw;
    border-style: solid;
    border-color: #797979;
    padding: 1% 2% 1% 3%;
}