nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
    background-color: #f5f5f5;
}

.movies-found-text, .sort-by-text, .off, .on {
    font-family: Arial;
    cursor: default;
    margin: 0;
    color: #414141;
    user-select: none;
}

.movies-found-text {
    margin-left: 7vw;
    margin-right: auto;
}

.sort-by-text, .off, .on {
    margin-right: 7vw;
}

.off:hover{
    cursor: pointer;
    color: #f55263;
}

.on {
    color: #f55263;
}