.div-no-films-found {
    height: 56.5vh;
}

.text-no-films-found {
    margin: 0;
    text-align: center;
    padding-top: 15vh;
    font-family: Arial;
    font-weight: 100;
    font-size: 4.5rem;
    color: #d7d7d7;
}